{{.Consumer}}:
  command:
    - {{.Consumer}}
  kits:
    {{- range .FeatureKits }}
    - {{ . }}
    {{- end }}
    - github.com/novshi-tech/boid-kits/{{.Consumer}}
shell:
  command:
    - bash
  kits:
    - github.com/novshi-tech/boid-kits/git
